PORT=10000
ADMIN_UID=oj3TdOnQiWROOgKa9jVL8a3p74S2
SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
FIREBASE_DATABASE_URL=https://seven-nurses8-default-rtdb.firebaseio.com
FIREBASE_SERVICE_ACCOUNT_JSON={PASTE_SERVICE_ACCOUNT_JSON_HERE}
